img {
	width: 50px;
	height: auto;
	margin-right: 1px; /* 이미지 간격을 1px로 설정 */
	margin-bottom: 1px; /* 이미지 간격을 1px로 설정 */
}

.championList {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 8px;
	gap: 8px;
}

#championList {
    margin-right: 8px;
}

a {
	cursor: pointer;
}

.champion-item {
	position: relative;
	display: block;
	width: 46px;
}

span {
	display: block;
	width: 46px;
	line-height: 14px;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--gray500);
	margin-top: 2px;
	height: 16px
}

a {
	cursor: pointer;
	text-decoration: none;
	color: var(--gray900);
}

.champion-img {
	position: relative;
	display: block;
}